<div>
  <label for="password">Password:</label>
  <input placeholder="Enter password here" type="password" id="password" [(ngModel)]="password" (input)="checkPasswordStrength()">
</div>

<div>
  <div class="gray" [ngClass]="{'red': password.length > 0 && password.length < 8,'yellow': isMediumStrength, 'green': isStrongStrength,}"> </div>
  <div class="gray" [ngClass]="{'yellow': isMediumStrength, 'green': isStrongStrength}"> </div>
  <div class="gray" [ngClass]="{'green': isStrongStrength}"> </div>
</div>
